body {
    background-color: rgb(167, 201, 175);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animações */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card:active {
    transform: scale(0.98);
}

/* imagens */
.card img {
    width: 100%;
    height: auto;
}
.card:hover {
    transform: translateY(-5px);
}